body {
    background: url("../backgr.png") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    text-align: -moz-center;
    text-align: -webkit-center;
}

/* Preloader START */

@import url(https://fonts.googleapis.com/css?family=Julius+Sans+One);
.preloaderBackground {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #111;
    width: 100%;
    height: 100%;
    z-index: 99998;
}
.eye{
  width: 20px; height: 8px;
  background-color: rgba(240,220,220,1);
  border-radius:0px 0px 20px 20px;
  position: relative;
  left: 10px; top: 40px;
  box-shadow:  40px 0px 0px 0px rgba(240,220,220,1);              
}

.head{
  -webkit-backface-visibility: hidden;
  position: relative;
  margin: -250px auto;
  width: 80px; height: 80px;
  background-color: #111;
  border-radius:50px;
  box-shadow: inset -4px 2px 0px 0px rgba(240,220,220,1);
  -webkit-animation:headAnim 1.5s infinite alternate;
  -webkit-animation-timing-function:ease-out;
}

.body{ 
  position: relative;
  margin: 90px auto;
  width: 140px; height: 120px;
  background-color: #111;
  border-radius: 50px/25px ;
  box-shadow: inset -5px 2px 0px 0px rgba(240,220,220,1);
  -webkit-animation:bodyAnim 1.5s infinite alternate;
  -webkit-animation-timing-function:ease-out;  
}

  @-webkit-keyframes headAnim{
         0%{ top:0px; }
         50%{ top:10px; }
         100% { top:0px;} 
  }

  @-webkit-keyframes bodyAnim{
         0%{ top:-5px; }
         50%{ top:10px; }
         100% { top:-5px;} 
  }

.circ{
  -webkit-backface-visibility: hidden;
  margin: 60px auto;
  width: 180px; height: 180px;
  background-color: #111;
  border-radius: 0px 0px 50px 50px;
  position: absolute;
  z-index: 99999;  
  left: 50%; top: 20%;
  transform:translate(-50%,-50%);
  overflow: hidden;
}

.hands{
  -webkit-backface-visibility: hidden;
  margin-top: 140px;
  width: 120px;height: 120px;
  position: absolute;
  background-color: #111;
  border-radius:20px;
  box-shadow:-1px -4px 0px 0px rgba(240,220,220,1);
  -webkit-transform:rotate(45deg);
  top:75%;left: 16%;
  z-index: 1;
  -webkit-animation:bodyAnim 1.5s infinite alternate;
  -webkit-animation-timing-function:ease-out;
}

.load{  
  position: absolute;
  width: 7ch; height: 32px;
  text-align: left;
  line-height: 32px;
  margin: -10px auto;
  -webkit-font-smoothing: antialiased;
  font-family: 'Julius Sans One', sans-serif;
  font-size:28px;
  font-weight:400;
  color:rgba(240,220,220,1);
  left: 2%; top: 5%;
  -webkit-animation:fontAnim 3.75s infinite;
  -webkit-animation-timing-function:ease-out;
  word-wrap: break-word;
  display:block;
  overflow: hidden;
}

  @-webkit-keyframes fontAnim{
        0%{ width:7ch; }
       16%{ width:8ch; }
       32%{ width:9ch; }
       48%{ width:10ch; }
       64%{ width:11ch; }
       80%{ width:12ch; }
     100% { width:13ch;} 
  }

/* Preloader END */


a, a:focus {
    text-decoration: none;
    outline: none;
}

.frontimage {
	font-size: 1.3rem;
	color: #000000;
	line-height: 2.3rem;
	letter-spacing: .1px;
	padding: 2.5rem 3rem;
	border-radius: 4.5rem;
    background-color: rgb(255, 255, 255, 0.76);
    width: 35rem;
    margin-bottom: 2rem;
}

.action {
    font-size: 1.4rem;
	color: #000000;
	line-height: 1.25rem;
	letter-spacing: .1px;
	padding: 1.25rem 1.5rem;
	border-radius: 6rem;
    background-color: rgb(255, 255, 255);
    width: 15rem;
    text-align: left;
    border-color: rgb(255, 255, 255);
    border-width: 0.2rem;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
}

.action:hover, .action:focus {
    border-color: rgb(0, 0, 0);
    border-width: 0.2rem;
    outline: none;
}

.vk {
    background-color: rgb(255, 255, 255, 0.7);
    background-image: url("../icons/vk.png");
}
 
.steam {
  background-color: rgb(255, 255, 255, 0.7);
    
  background-image: url("../icons/steam.png")
}

.battlenet {
    background-color: rgb(255, 255, 255, 0.7); 
    text-align: right;
    background-position:left;
    background-image: url("../icons/battlenet.png");}

 .qiwi {  background-color: rgb(255, 255, 255, 0.7); 
     background-image: url("../icons/qiwi.png"); }


.github { 
    background-color: rgb(255, 255, 255, 0.7); background-image: url("../icons/github.png");
}

.telegram {
  background-color: rgb(255, 255, 255, 0.7); 
background-image:url("../icons/telegram.png");
}

.buttons {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}
