/*Welcome to my code :)*/
body {
    background: no-repeat center center fixed;
    background-size: cover;
    background-image: url("bg.png");
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    text-align: -moz-center;
    text-align: -webkit-center;
}

/* Preloader START */

.preloaderBackground {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #3a3a3a;
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    z-index: 99998;
}

.loading--inner {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 110px;
  height: 30px;
  transform: translate(-50%, -50%);
}
.loading--inner:after {
  position: absolute;
  content: '';
  height: 1px;
  bottom: -2px;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.2);
}
.loading--inner .loading--box {
  position: absolute;
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.4);
  opacity: 1;
}
.loading--inner .loading--box.dbl-width {
  width: 22px;
}
.loading--inner .loading--box.upper {
  height: 18px;
}
.loading--inner .loading--box.hang {
  height: 8px;
}
.loading--inner .loading--box.sink {
  height: 5px;
  width: 2px;
}
.loading--inner .loading--box.dbl-height {
  height: 30px;
}
.loading--inner .loading--box-animate {
  animation: loading--box-animation 3s infinite ease-in-out;
}
.loading--inner .loading--text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  position: absolute;
  line-height: 1.6em;
  top: 100%;
  left: 0;
  right: 0;
  text-align: center;
  animation: loading--text-animation 2s infinite;
}

@keyframes loading--text-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loading--box-animation {
  0% {
    opacity: 0;
    transform: translate(-20px, 0);
  }
  10% {
    opacity: 0;
    transform: translate(-20px, 0);
  }
  25% {
    opacity: 1;
    transform: translate(0, 0);
  }
  75% {
    opacity: 1;
    transform: translate(0, 0);
  }
  90% {
    opacity: 0;
    transform: translate(20px, 0);
  }
  100% {
    opacity: 0;
    transform: translate(20px, 0);
  }
}

/* Preloader END */


a, a:focus {
    text-decoration: none;
    outline: none;
}

.frontimage {
	font-size: 1.5rem;
	color: #000000cd;
	line-height: 2rem;
	letter-spacing: .1px;
	padding: 2.5rem 3rem;
	border-radius: 5rem;
    background-color: rgb(255, 255, 255, 0.76);
    width: 30rem;
    margin-bottom: 2rem;
}

.action {
    font-size: 1.5rem;
	color: #000000;
	line-height: 1.25rem;
	letter-spacing: .1px;
	padding: 1.25rem 1.5rem;
	border-radius: 6rem;
    background-color: rgb(255, 255, 255);
    width: 16rem;
    text-align:justify;
    border-color: rgb(255, 255, 255);
    border-width: 0.2rem;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
}

.action:hover, .action:focus {
    border-color: rgb(0, 0, 0);
    border-width: 0.2rem;
    outline: none;
}

.vk {
    background-color: rgb(255, 255, 255, 0.7);
    background-image: url(../icons/vk.png);
}
 
.steam {
  background-color: rgb(255, 255, 255, 0.7);
    
  background-image: url("../icons/steam.png")
}

.battlenet {
    background-color: rgb(255, 255, 255, 0.7); 
    text-align: right;
    background-position:left;
    background-image: url("../icons/battlenet.png");}

 .qiwi {  background-color: rgb(255, 255, 255, 0.7); 
     background-image: url("../icons/qiwi.png"); }


.github { 
    background-color: rgb(255, 255, 255, 0.7); background-image: url("../icons/github.png");
}

.telegram {
  background-color: rgb(255, 255, 255, 0.7); 
background-image:url("../icons/telegram.png");
}

.buttons {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.snowContainer {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left:0;
	z-index: -1;
}

#snow {
	width: 100%;
	height: 129%;
	background-image: url("../snow/snow_2.png"), url("../snow/snow_3.png");
	-webkit-animation: snow 20s linear infinite;
	-moz-animation: snow 20s linear infinite;
	-ms-animation: snow 20s linear infinite;
	animation: snow 20s linear infinite;
}

@keyframes snow {
	0% {
		background-position: 0px 0px, 0px 0px, 0px 0px;
	}
	100% {
		background-position: 500px 1000px, 400px 400px, 300px 300px;
	}
}

@-moz-keyframes snow {
	0% {
		background-position: 0px 0px, 0px 0px, 0px 0px;
	}
	100% {
		background-position: 500px 1000px, 400px 400px, 300px 300px;
	}
}

@-webkit-keyframes snow {
	0% {
		background-position: 0px 0px, 0px 0px, 0px 0px;
	}
	100% {
		background-position: 500px 1000px, 400px 400px, 300px 300px;
	}
}

@-ms-keyframes snow {
	0% {
		background-position: 0px 0px, 0px 0px, 0px 0px;
	}
	100% {
		background-position: 500px 1000px, 400px 400px, 300px 300px;
	}
}

